In [2]:
import pandas as pd

df_temp = pd.read_csv('ZonAnn.Ts+dSST_Zonal_annual_means.csv')
display(df_temp.head())

df_ges = pd.read_csv('EMISSIONS_ANNUAL_1830-2021.csv')
display(df_ges.head())

,Year,Glob,NHem,SHem,24N-90N,24S-24N,90S-24S,64N-90N,44N-64N,24N-44N,EQU-24N,24S-EQU,44S-24S,64S-44S,90S-64S
0,1880,-0.17,-0.29,-0.04,-0.37,-0.12,-0.02,-0.80,-0.48,-0.29,-0.16,-0.09,-0.04,0.05,0.66
1,1881,-0.08,-0.18,0.01,-0.35,0.11,-0.07,-0.91,-0.43,-0.21,0.09,0.12,-0.05,-0.07,0.58
2,1882,-0.11,-0.22,-0.01,-0.31,-0.04,0.01,-1.41,-0.26,-0.17,-0.06,-0.03,0.01,0.04,0.61
3,1883,-0.17,-0.29,-0.06,-0.35,-0.16,-0.01,-0.19,-0.54,-0.28,-0.18,-0.14,-0.04,0.07,0.49
4,1884,-0.28,-0.43,-0.14,-0.60,-0.14,-0.14,-1.30,-0.62,-0.48,-0.13,-0.15,-0.19,-0.02,0.64

     CNTR_NAME ISO3    Gas Component  Year      Data              Unit
0  Afghanistan  AFG  CH[4]    Fossil  1830  0.018746  Tg~CH[4]~year^-1
1  Afghanistan  AFG  CH[4]    Fossil  1831  0.018850  Tg~CH[4]~year^-1
2  Afghanistan  AFG  CH[4]    Fossil  1832  0.018953  Tg~CH[4]~year^-1
3  Afghanistan  AFG  CH[4]    Fossil  1833  0.019057  Tg~CH[4]~year^-1
4  Afghanistan  AFG  CH[4]    Fossil  1834  0.019161  Tg~CH[4]~year^-1

In [4]:
print(df_temp['Year'].dtype)
print(df_ges['Year'].dtype)

int64
int64

In [5]:
# Concaténation

df = df_temp.merge(df_ges, how ='inner', on = 'Year')
df

,Year,Glob,NHem,SHem,24N-90N,24S-24N,90S-24S,64N-90N,44N-64N,24N-44N,...,24S-EQU,44S-24S,64S-44S,90S-64S,CNTR_NAME,ISO3,Gas,Component,Data,Unit
0,1880,-0.17,-0.29,-0.04,-0.37,-0.12,-0.02,-0.80,-0.48,-0.29,...,-0.09,-0.04,0.05,0.66,Afghanistan,AFG,CH[4],Fossil,0.025322,Tg~CH[4]~year^-1
1,1880,-0.17,-0.29,-0.04,-0.37,-0.12,-0.02,-0.80,-0.48,-0.29,...,-0.09,-0.04,0.05,0.66,Afghanistan,AFG,CH[4],LULUCF,0.130455,Tg~CH[4]~year^-1
2,1880,-0.17,-0.29,-0.04,-0.37,-0.12,-0.02,-0.80,-0.48,-0.29,...,-0.09,-0.04,0.05,0.66,Afghanistan,AFG,CH[4],Total,0.155777,Tg~CH[4]~year^-1
3,1880,-0.17,-0.29,-0.04,-0.37,-0.12,-0.02,-0.80,-0.48,-0.29,...,-0.09,-0.04,0.05,0.66,Afghanistan,AFG,CO[2],Fossil,0.000000,Pg~CO[2]~year^-1
4,1880,-0.17,-0.29,-0.04,-0.37,-0.12,-0.02,-0.80,-0.48,-0.29,...,-0.09,-0.04,0.05,0.66,Afghanistan,AFG,CO[2],LULUCF,0.004934,Pg~CO[2]~year^-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276043,2021,0.85,1.14,0.55,1.42,0.65,0.53,2.05,1.36,1.26,...,0.58,0.72,0.32,0.31,Zimbabwe,ZWE,CO[2],LULUCF,0.007743,Pg~CO[2]~year^-1
276044,2021,0.85,1.14,0.55,1.42,0.65,0.53,2.05,1.36,1.26,...,0.58,0.72,0.32,0.31,Zimbabwe,ZWE,CO[2],Total,0.019039,Pg~CO[2]~year^-1
276045,2021,0.85,1.14,0.55,1.42,0.65,0.53,2.05,1.36,1.26,...,0.58,0.72,0.32,0.31,Zimbabwe,ZWE,N[2]*O,Fossil,0.003699,Tg~N[2]*O~year^-1
276046,2021,0.85,1.14,0.55,1.42,0.65,0.53,2.05,1.36,1.26,...,0.58,0.72,0.32,0.31,Zimbabwe,ZWE,N[2]*O,LULUCF,0.015458,Tg~N[2]*O~year^-1
276047,2021,0.85,1.14,0.55,1.42,0.65,0.53,2.05,1.36,1.26,...,0.58,0.72,0.32,0.31,Zimbabwe,ZWE,N[2]*O,Total,0.019157,Tg~N[2]*O~year^-1

In [6]:
# Mise à l'echelle - Application d'un facteur 1000 aux données relatives au CO2

df.loc[df['Gas'] == 'CO[2]', 'Data'] = df.loc[df['Gas'] == 'CO[2]', 'Data'].apply(lambda x: x*1000)
df.head()

,Year,Glob,NHem,SHem,24N-90N,24S-24N,90S-24S,64N-90N,44N-64N,24N-44N,...,24S-EQU,44S-24S,64S-44S,90S-64S,CNTR_NAME,ISO3,Gas,Component,Data,Unit
0,1880,-0.17,-0.29,-0.04,-0.37,-0.12,-0.02,-0.8,-0.48,-0.29,...,-0.09,-0.04,0.05,0.66,Afghanistan,AFG,CH[4],Fossil,0.025322,Tg~CH[4]~year^-1
1,1880,-0.17,-0.29,-0.04,-0.37,-0.12,-0.02,-0.8,-0.48,-0.29,...,-0.09,-0.04,0.05,0.66,Afghanistan,AFG,CH[4],LULUCF,0.130455,Tg~CH[4]~year^-1
2,1880,-0.17,-0.29,-0.04,-0.37,-0.12,-0.02,-0.8,-0.48,-0.29,...,-0.09,-0.04,0.05,0.66,Afghanistan,AFG,CH[4],Total,0.155777,Tg~CH[4]~year^-1
3,1880,-0.17,-0.29,-0.04,-0.37,-0.12,-0.02,-0.8,-0.48,-0.29,...,-0.09,-0.04,0.05,0.66,Afghanistan,AFG,CO[2],Fossil,0.000000,Pg~CO[2]~year^-1
4,1880,-0.17,-0.29,-0.04,-0.37,-0.12,-0.02,-0.8,-0.48,-0.29,...,-0.09,-0.04,0.05,0.66,Afghanistan,AFG,CO[2],LULUCF,4.934187,Pg~CO[2]~year^-1